.info {
    margin: 100px 30px;

    display: flex;
    justify-content: space-between;
}

.info__leftCard__text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0px;
}

.info__leftCard__img {
    margin-top: 255px;
}