.infoCard {
    margin: 100px 30px;

    display: flex;
    justify-content: space-between;
}

h2 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
}

.infoCard__right {
    margin-right: 260px;
    
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.infoCard__right__first {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infoCard__right__second {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.infoCard__right__second__card__top {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0px;
}

.infoCard__right__second__card__mini {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
}