.infoFooter {
    margin-top: 100px;
    margin-left: 50px;

    display: flex;
    gap: 350px;
    width: 1380px;
}

h3 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0px;
}

.rightInfo {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.rightInfo__text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
}

.rightInfo__main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.rightInfo__main__card {
    padding-bottom: 25px;

    display: flex;
    justify-content: space-between;
    gap: 100px;

    border-bottom: 1px solid black;
}

.rightInfo__main__card__title {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0px;
}

.rightInfo__main__card__miniInfo {
    width: 330px;

    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
}