.reviews{
  margin: 100px 30px;
}

h5 {
  padding-bottom: 30px;

  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
}

.reviews__section {
  display: flex;
  justify-content: space-between
}

.review__card {
  padding-right: 40px;
  padding-left: 40px;

  text-align: center;
  width: 445px;
  height: 330px;

  border: 1px solid #000000;
  border-radius: 1px;
}

.review__card__img {
  margin-top: 40px;
  margin-bottom: 30px;

  width: 40px;
  height: 40px;
}

.review__card__name {
  padding-bottom: 20px;

  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
}

.review__card__text {
  width: 365px;
  height: 110px;

  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0px;
}
