.projects {
  margin: 50px 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

h4 {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0px;
}

.projects__gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 60px;
}