.header {
    margin: 10px 30px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    margin-left: 500px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.header__menu a {
    color: black;
    text-decoration: none;
}