.header {
    margin-top: 10px;
    margin-left: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1380px;
}

.header__menu{
    margin-left: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__menu a {
    color: black;
    text-decoration: none;
}