.main {
    margin: 50px 30px;

    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

h1 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 72px;
    line-height: 120%;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.main__button {
    padding: 5px 10px;
    
    background: transparent;

    border: none;
    border-bottom: 1px solid black;
    
    cursor: pointer;
}
